* {
   box-sizing: border-box;
}

body {
   background-color: #E5E5E5;
   font-family: 'Roboto', sans-serif;
   color: #333333;
   font-size: 14px;
}

.wrapper {
   max-width: 1110px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
}

.header {
   background-color: #fff;
}

.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0 12px 0;
}

.logo {
   color: #66C05D;
   font-size: 36px;
   font-weight: 700;
   display: flex;
   align-items: center;
   letter-spacing: 4px;
}

.logo-image {
   display: block;
   width: 80px;
   height: 80px;
   background-image: url(../img/logo.svg);
   margin-right: 20px;
}

.header-info span {
   font-size: 16px;
}

.header-info button {
   font-size: 14px;
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #66C05D;
   padding: 10px 25px;
   margin-left: 36px;
   transition: 0.2s ease;
   cursor: pointer;
}

.header-info button:hover {
   background-color: #66C05D;

}

.nav {
   display: flex;
   justify-content: center;
   list-style-type: none;
   padding: 4px 0;
}

.nav li {
   margin-left: 15px;
   margin-right: 15px;
}

.nav li a {
   text-decoration: none;
   color: #333333;
}

.header-bottom {
   padding: 20px 0 27px 0;
}

.header-bottom .nav {
   font-size: 16px;
   margin: 0;
}

.header-bottom .nav li {
   margin-left: 20px;
   margin-right: 20px;
}

hr {
   border: none;
   background-color: #E5E5E5;
   height: 1px;
}

.banner {
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 159px;
   padding-bottom: 204px;
   color: #fff;
}

.title {
   font-size: 48px;
   font-weight: 700;
   margin-bottom: 39px;
}

.title-h2 {
   font-size: 24px;
   font-weight: 700;
}

.banner p {
   margin-bottom: 57px;
   max-width: 315px;
   line-height: 1.5;
}

.btn {
   color: #fff;
   text-decoration: none;
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #fff;
   padding: 9px 47px;
   margin-left: 0px;
   transition: 0.2s ease;
}

.btn:hover {
   background-color: #fff;
   color: #333333;
}

.bg-white {
   background-color: #fff;

}

.bg-green {
   background-color: #66C05D;
   color: #fff;
   padding: 34px 41px;
   display: flex;
   justify-content: space-between;
}

.bg-green-item {
   flex: 0 0 57%;
}

.bg-green-img {
   flex: 0 0 31%;
   text-align: center;
}

.bg-green h3 {
   font-size: 18px;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 20px;
}

.bg-green p {
   margin-bottom: 24px;
   line-height: 1.5;
}

.bg-green input {
   font-size: 14px;
   border: 1px solid #fff;
   border-radius: 20px;
   padding: 8px 15px;
   max-width: 225px;
   width: 100%;
}

.bg-green .btn {
   display: block;
   text-align: center;
   max-width: 166px;
   padding: 8px 0;
}

.catalog {
   padding-top: 60px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 19px 30px;
}

.grid-item-title {
   grid-column: 1/4;
   grid-row: 1/2;
}

.grid-item-img {
   grid-column: 4/5;
   grid-row: 1/2;
   text-align: center;
}

.grid-item-catalog {
   text-align: center;
}

.grid-item-catalog .bg-white {
   padding: 23px 30px 34px 30px;
}

.thumb {
   margin-bottom: 14px;
}

.grid-title {
   line-height: 1.5;
   margin-bottom: 0px;
}

.grid-price {
   margin-top: 14px;
   margin-bottom: 25px;
   letter-spacing: 1px;
   font-size: 21px;
   font-weight: 500;
}

.grid-btn {
   border-radius: 30px;
   background-color: #66C05D;
   border: 2px solid #66C05D;
   color: #fff;
   padding: 6px 41px;
   text-decoration: none;
   transition: 0.2s ease;
   cursor: pointer;
}

.grid-item-left {
   grid-column: 1/3;
   grid-row: 3/4;
   margin-top: 80px;
   margin-bottom: 80px;
}

.grid-item-right {
   grid-column: 3/5;
   grid-row: 3/4;
   margin-top: 80px;
   margin-bottom: 80px;

}