* {
   box-sizing: border-box;
}

body {
   background-color: #E5E5E5;
   font-family: 'Roboto', sans-serif;
   color: #333333;
   font-size: 14px;
}

.wrapper {
   max-width: 1110px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
}

.header {
   background-color: #fff;
}

.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0 12px 0;
}

.logo {
   color: #66C05D;
   font-size: 36px;
   font-weight: 700;
   display: flex;
   align-items: center;
   letter-spacing: 4px;
}

.logo-image {
   display: block;
   width: 80px;
   height: 80px;
   background-image: url(../img/logo.svg);
   margin-right: 20px;
   cursor: pointer
}

.header-info a {
   font-size: 16px;
}

.header-info button {
   font-size: 14px;
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #66C05D;
   padding: 10px 25px;
   margin-left: 36px;
   transition: 0.2s ease;
   cursor: pointer;
}

.header-info button:hover {
   background-color: #66C05D;

}

.nav {
   display: flex;
   justify-content: center;
   list-style-type: none;
   padding: 4px 0;
}

.nav li {
   margin-left: 15px;
   margin-right: 15px;
}

.nav li a {
   text-decoration: none;
   color: #333333;
   transition: 0.5s ease;
}

.nav li a:hover {
   border-bottom: 1px solid #333333;
}

.header-bottom {
   padding: 20px 0 27px 0;
}

.header-bottom .nav {
   font-size: 16px;
   margin: 0;
}

.header-bottom .nav li {
   margin-left: 20px;
   margin-right: 20px;
}

hr {
   border: none;
   background-color: #E5E5E5;
   height: 1px;
}

.banner {
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding-top: 159px;
   padding-bottom: 204px;
   color: #fff;
}

.title {
   font-size: 48px;
   font-weight: 700;
   margin-bottom: 39px;
}

.title-h2 {
   font-size: 24px;
   font-weight: 700;
}

.banner p {
   margin-bottom: 57px;
   max-width: 315px;
   line-height: 1.5;
}

.btn {
   color: #fff;
   text-decoration: none;
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #fff;
   padding: 9px 47px;
   margin-left: 0px;
   transition: 0.2s ease;
}

.btn:hover {
   background-color: #fff;
   color: #333333;
}

.bg-white {
   background-color: #fff;

}

.bg-green {
   background-color: #66C05D;
   color: #fff;
   padding: 34px 41px;
   display: flex;
   justify-content: space-between;
}

.bg-green-item {
   flex: 0 0 57%;
}

.bg-green-img {
   flex: 0 0 31%;
   text-align: center;
}

.bg-green h3 {
   font-size: 18px;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 20px;
}

.bg-green p {
   margin-bottom: 24px;
   line-height: 1.5;
}

.bg-green input {
   font-size: 14px;
   border: 1px solid #fff;
   border-radius: 20px;
   padding: 8px 15px;
   max-width: 225px;
   width: 100%;
}

.bg-green input:focus {
   outline: none;
}

.bg-green .btn {
   display: block;
   text-align: center;
   max-width: 166px;
   padding: 8px 0;
}

.catalog {
   padding-top: 60px;
   padding-bottom: 133px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 19px 30px;
}

.grid-item-title {
   grid-column: 1/4;
   grid-row: 1/2;
}

.grid-item-img {
   grid-column: 4/5;
   grid-row: 1/2;
   text-align: center;
}

.grid-item-catalog {
   text-align: center;
}

.grid-item-catalog .bg-white {
   padding: 23px 30px 34px 30px;
}

.thumb {
   margin-bottom: 14px;
}

.grid-title {
   line-height: 1.5;
   margin-bottom: 0px;
}

.grid-price {
   margin-top: 14px;
   margin-bottom: 25px;
   letter-spacing: 1px;
   font-size: 21px;
   font-weight: 500;
}

.grid-btn {
   border-radius: 30px;
   background-color: #66C05D;
   border: 2px solid #66C05D;
   color: #fff;
   padding: 6px 41px;
   text-decoration: none;
   transition: 0.2s ease;
   cursor: pointer;
}

.grid-btn:hover {
   background-color: transparent;
   border: 2px solid #66C05D;
   color: #333333;

}

.grid-item-left {
   grid-column: 1/3;
   grid-row: 3/4;
   margin-top: 80px;
}

.grid-item-right {
   grid-column: 3/5;
   grid-row: 3/4;
   margin-top: 80px;
   margin-bottom: 80px;
}

.footer-info {
   display: flex;
   align-items: center;
}

.header-info a {
   font-size: 16px;
   color: #333333;
   text-decoration: none;
}

.footer-info span {
   font-size: 16px;
   margin-left: 103px;
}

.footer-info a {
   color: #333333;
   text-decoration: none;
   padding-left: 30px;
}

.footer-info span:first-child {
   font-size: 14px;
   margin-left: 0;
}

.footer-info button {
   font-size: 14px;
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #66C05D;
   padding: 10px 25px;
   margin-left: 36px;
   transition: 0.2s ease;
   cursor: pointer;
}

.footer-info button:hover {
   background-color: #66C05D;

}

.footer-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 25px;
   padding-bottom: 23px;
}

.social {
   display: flex;
   align-items: center;
   list-style-type: none;
   padding-left: 0;
}

.social-item {
   margin-right: 20px;
}

.social-link {
   display: block;
   width: 40px;
   height: 40px;
   border: 2px solid #66C05D;
   border-radius: 100%;
   background-repeat: no-repeat;
   background-position: center center;
   transition: 0.3s ease;
}

.social-link:hover {
   border: 2px dotted #66C05D;
   animation: spinAround 9s linear infinite;
}

@keyframes spinAround {
   from {
      transform: rotate(0deg)
   }

   to {
      transform: rotate(360deg);
   }
}


.social-youtube {
   background-image: url(../img/icon1.svg);
}

.social-vk {
   background-image: url(../img/icon2.svg);
}

.social-fb {
   background-image: url(../img/icon3.svg);
}

.social-instagram {
   background-image: url(../img/icon4.svg);
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   color: #828282;
   padding: 28px 0;
   font-size: 12px;
}

.footer-bottom p {
   margin: 0;
}

.footer-bottom a {
   color: #828282;
   text-decoration: none;
}

@media (max-width: 1200px) {
   .catalog {
      padding-bottom: 20px;
   }
}

@media (max-width: 1097px) {
   .bg-green-item {
      flex: 0 0 70%;
   }

   .grid-item-left {
      margin-top: 50px;
   }

   .grid-item-right {
      margin-top: 50px;
      margin-bottom: 50px;
   }
}

@media (max-width: 992px) {
   .catalog {
      padding-top: 40px;
      padding-bottom: 70px;
   }

   .box-1 {
      grid-column: 1/3;
   }

   .box-2 {
      grid-column: 3/5;
   }

   .box-3 {
      grid-column: 1/3;
   }

   .box-4 {
      grid-column: 3/5;
   }

   .bg-green-item {
      flex: 0 0 100%;
   }

   .bg-green-img {
      display: none;
   }

   .grid-item-left {
      margin-top: 10px;
   }

   .grid-item-right {
      margin-top: 10px;
      margin-bottom: 10px;
   }
}

@media (max-width: 845px) {
   .catalog {
      padding-top: 30px;
      padding-bottom: 40px;
   }

   .grid-item-title {
      grid-column: 1/3;
   }

   .grid-item-img {
      grid-column: 3/5;
      text-align: right;
   }

   .footer-top {
      flex-wrap: wrap;
   }

   .footer-top-item {
      margin: 0 auto;
   }

   .footer-info {
      margin: 0 auto;
   }

   .footer-bottom {
      flex-wrap: wrap;
      justify-content: center;
   }

}

@media (max-width: 768px) {}

@media (max-width: 721px) {
   .header-bottom .nav li {
      margin-left: 10px;
      margin-right: 10px;
   }

   .bg-green-item {
      text-align: center;
   }

   .bg-green .btn {
      margin: 0 auto;
   }

   .grid-item-left {
      grid-column: 1/5;
      grid-row: 3/4;
   }

   .grid-item-right {
      grid-column: 1/5;
      grid-row: 4/5;
   }
}

@media (max-width: 634px) {
   .header-bottom {
      display: none;
   }

   hr {
      display: none;
   }
}

@media (max-width: 620px) {
   .header-info a {
      display: none;
   }

   .footer-bottom p {
      text-align: center;
   }
}

@media (max-width: 602px) {
   .footer-info {
      flex-direction: column;
   }

   .footer-top-item {
      flex: 0 0 100%;
      justify-content: center;
      display: flex;
   }

   .footer-info span {
      margin-bottom: 5px;
   }

   .footer-info a {
      padding-left: 0px;
   }

   .footer-info button {
      margin-top: 5px;
      margin-left: 0;
   }

}

@media (max-width: 471px) {
   .logo-image {
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: cover;
   }

   .logo {
      font-size: 30px;
   }
}